@import "susy"; // Susy Grids
@import "breakpoint"; //@Media Query Mixins
@import "rgbapng"; 
$rgbapng_path: 'generated';
$rgbapng_px_size: 8;

// Layout helper variables
$horiz-gutter: 20px;
$vert-gutter: 20px;


// Breakpoint variables. Also found in _grids.scss
$narrow: 480px;
$tablet-small: 600px;
$tablet: 760px;
$computer: 960px;
$wide: 1024px;


@include breakpoint($narrow){

}
@include breakpoint($tablet){

}
@include breakpoint($computer){

}
@include breakpoint($wide){

}

#page {
  height: 100%; // Sticky footer
}

#content-wrapper {
  min-height: 100%;
}


.logo {
	width: 180px;
  @include breakpoint($tablet){
    width: 280px;
  }
}

.siteinfo {
	float: left;
}

#header-phone {
  float: right;
  clear: right;
  font-size: 14px;
  font-style: italic;
  margin-right: 8px;
  line-height: 1;
}


.header-region {
	float: right;
  clear: right;
}

#header-wrapper {
	border-bottom: 1px solid #ffffff;
  @include box-shadow(0 2px 2px rgba(0,0,0,.5));
	background-color: $ui-grey-light;
	> .container {
    padding-top: 16px;
    padding-bottom: 14px;
    position: relative; // mobile menu
	}
  .front & {
    position: relative; // Bring header shadow over banner
    z-index: 50;
  }
}

#main-content {
  .fullwidth {
    margin-bottom: $vert-gutter * 2;
  }
}

.content-wrapper {
  padding-top: $horiz-gutter * 2;
  padding-bottom: $vert-gutter * 2;

  .front & {
    padding-top: 0;
  }

  .page-dark & {
    background-color: $ui-blue-teal;
    color: white;
    h1, h2, h3, h4, h5, h6 {
      color: white;
    }
    a {
      color: white;
      text-decoration: underline;
    }
    a:hover {
      color: white;
      text-decoration: underline;
    }
    a:active {
      color: white;
      text-decoration: underline;
    }
  }

  form small, 
  form .description {
    color: white;
  }

  ul {
    padding: 0 0 0 40px;
  }

}


.footer-wrapper {
  background: url(../img/ovals.png) $ui-grey-light;
  padding: $vert-gutter*2 0 $vert-gutter*2 0;
  border-top: 5px solid $ui-grey-light;
  @include pie-clearfix;
  margin-left: -$horiz-gutter/2;
  margin-right: -$horiz-gutter/2;
  .block {
    margin-bottom: $vert-gutter * 2;
  }
  .title {
    @include h4;
    line-height: 1.4;
    margin-top: 0;
  }
}

.region-footer {
  .block {
    @include breakpoint($tablet-small){
      margin-bottom: 0;
    }
  }
}

.region-footer-bottom {
  .row {
    padding: 0 $horiz-gutter/2;
  }
}

.block-menu-menu-footer-menu {
  .menu {
    @include breakpoint($tablet-small){
      margin-bottom: 0;
    }
    li {
      margin-bottom: 6px;
      a {
        :after {
          content: '\2192';
          display: inline-block;
          margin-left: 6px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.block-mediation-blocks-footer-logos {
  margin-top: $vert-gutter*2;
  padding-top: $vert-gutter*2;
  border-top: 1px solid #d5d5d5;
  @include box-shadow(0 -1px 0px 0 #fff);
  &.block {
    margin-bottom: 0;
  }
  .footer-logos {
    @include no-bullets;
    margin: 0;
    padding-left: 0;
  }
  .footer-logo {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    margin-bottom: 10px;
    a {
      display: block;
      width: 140px;
      @include hide-text;
      -moz-box-shadow:    0 1px 1px rgba(255,255,255,1), 0 2px 2px rgba(0,0,0,.2);
      -webkit-box-shadow: 0 1px 1px rgba(255,255,255,1), 0 2px 2px rgba(0,0,0,.2);
      box-shadow:         0 1px 1px rgba(255,255,255,1), 0 2px 2px rgba(0,0,0,.2);
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url(../img/footer-logos.jpg);
      background-size: 284px 530px;
    }
    @include breakpoint($tablet){
      width: 25%;
      a {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .logo-third {
    a {
      height: 140px;
      background-position: left top;
    }
    &:hover a, 
    .touch & a {
      background-position: left -265px;
    }
  }
  .logo-fourth {
    a {
      height: 140px;
      background-position: right top;
    }
    &:hover a, 
    .touch & a {
      background-position: right -265px;
    }
  }
  .logo-first {
    a {
      height: 125px;
      background-position: left -140px;
    }
    &:hover a, 
    .touch & a {
      background-position: left bottom;
    }
  }
  .logo-second {
    a {
      margin-top: 40px;
      height: 40px;
      background-position: right -225px;
    }
    &:hover a, 
    .touch & a {
      background-position: right bottom;
    }
  }
}

.field-collection-container {
  border-bottom: 0;
}

.field-collection-view {
  border-bottom: 0;
}

.field-collection-container .field-items .field-item {
  margin-bottom: $vert-gutter * 2;
}

/* Newsletter signup block */
// Need higher specificity
#block-block-1,
#newsletter-modal {
  .fsBody {
    color: inherit;
    font: inherit;
  }

  .fsBody .fsForm {
    background-color: #fff;
    margin: 0 auto;
    border: none;
    display: block;
  }

  .fsForm .fsSubmit {
    padding: 0 $horiz-gutter $vert-gutter 0;
    margin-top: 10px;
    background-color: transparent;
    clear: both;
  }
  .fsPagination {
    text-align: right;
    margin: 25px 0;
  }

  .fsSubmit input.fsSubmitButton {
    padding: 4px 16px;
    margin: 0 auto;
    clear: both;
  }

  .fsPagination button, .fsPagination input {
    font-size: inherit;
  }

  // Webform builder link
  // [title="Web Form Builder"]
  .fsBody ~ div {
    display: none;
  }

  .fsFieldRow input[type=email], 
  .fsFieldRow input[type=number], 
  .fsFieldRow input[type=tel], 
  .fsFieldRow input[type=text], 
  .fsForm textarea {
    background-image: inherit;
    background-repeat: inherit;
    background-position: inherit;
    font-weight: inherit;
    max-width: 95%;
    @include input;
    margin: 0 5px 5px 0;
  }
}

.front #two-brick-bottom-wrapper {
  @include shadow-border($position:"top", $offset-margin: 24px, $offset-padding: 24px, $shadowColor:#000000, $fallbackBorderColor: grey);
  margin-bottom: 0;
}

.front {
  margin-bottom: $vert-gutter * 2;
 .views-field-body {
    font-family: $webfontLightItalic;
    font-size: 24px;
    margin: 0 auto; 
    max-width: 480px;
    padding-left: $horiz-gutter;
    page-right: $horiz-gutter;
    text-align: center;
    .field-content {
      display: inline-block;
      text-align: left;
      &::first-letter {
        font-size: 40px;
      }
    }
  }
}

.intro {
  font-size: 16px;
  margin-top: 0;
}

.mfp-close:hover {
  background-color: white;
  color: $textColor;
  @include border-radius(50%);
}

.js .mfp-hide {
  display: none;
}

.mfp-content {
  .title {
    margin-top: 0;
  }
}

// Newsletter modal
.mfp-newsletter .mfp-content {
  max-width: 420px;
}
 
/* Homepage */


#panels-ipe-display-panelizer-node-13-default {
  .container {
    padding: 0;
  }
}

#panels-ipe-paneid-16 {
  .action-links {
    position: absolute;
    top: 48px;
    right: 160px;
  }

  .field-collection-container {
    border-bottom: 0;
    margin-bottom: 0;
  }

  .field-collection-view-links {
    position: absolute;
    top: 36px;
    right: 36px;
  }


}


.field-name-field-banner-collection {
  position: relative;

  .field-collection-container {
    border-bottom: 1px solid #D3D7D9;
    margin-bottom: 0;
  }

  .field-collection-view .entity-field-collection-item {
    float: none;
  }

  .field-name-field-banner-image {
    &:before, &:after{
      width: 200px;
      content: "";
      position: absolute;
      height: 403px;
      display: block;
      z-index: 14;
      //background-image: linear-gradient(to right, #07383f 0%, rgba(0, 0, 0, 0) 100%);
      @include gradient-horizontal($startColor: #07383f, $endColor: transparent);
    }
    &:after{
      //background-image: linear-gradient(to left, #07383f 0%, rgba(0, 0, 0, 0) 100%);
      @include gradient-horizontal($startColor: transparent, $endColor: #07383f);
      background-color: transparent;
      right:0;
      top:0;
    }
    img {
      display: block;
    }
  }

  .rsBullet {
    padding-top: 0;
    line-height: 24px;
    right: 40px;
    width: 10px;
    height: 10px;
    margin-right: 7px;
    padding: 0;
  }

  .rsBullet span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    background: rgba(255,255,255,0.5);
    @include box-shadow(0 0 1px 1px rgba(0, 0, 0, 0.1));
  }

  .rsABlock {
    position: static;
    z-index: 15;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    padding: 36px;
    @include single-text-shadow(#ffffff, 0, 0, 1px);
    background-color: #ffffff;
    background-color: rgba(255,255,255,.9);
    color: $textColor;
    @include breakpoint($tablet){
      position: absolute;
      z-index: 15;
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
    }
    @include breakpoint($computer){
      width: 420px;
      left: 48px;
      right: auto;
      bottom: 80px;
      top: auto;
      border-radius: 6px;
      background-color: transparent;
      @include background-image(linear-gradient(to right, rgba(255,255,255,.9) 80%, transparent));

    }
  }


  .odd .rsABlock {
    @include breakpoint($computer){
      background-color: transparent;
      @include background-image(linear-gradient(to left, rgba(255,255,255,.9) 80%, transparent));
      right: 48px;
      left: auto;
      padding: 36px 18px 36px 72px;

    }
  }

  .field-name-field-banner-text {
    @include h4;
    line-height: 27px;
    margin-bottom: 0;
  }

  .field-name-field-banner-link a {
    @include button;
    margin: $vert-gutter 0 0 0;
  }

  .field-collection-container .field-items .field-item {
    margin-bottom: 10px;
  }

  .field-collection-container ul.action-links-field-collection-add {
    float: none;
    padding:0;
    margin: 0;
    top: 60px;
    right: 128px;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        list-style-image: none;
      }
    }
  }

  .field-collection-view {
    padding: 0;
    margin: 0;
  }
}

.front {
  #two-brick-top-wrapper {
    background: $ui-blue-teal;
  }

  .rs-slideshow{
    position: relative;
    max-height: 403px;
    overflow: hidden;

    .field-collection-container {
      margin-bottom: 0;
    }
  }

}
