/*.carousel-strip {}
*/

.rsMinW, .rsMinW .rsOverflow, .rsMinW .rsSlide, .rsMinW .rsVideoFrameHolder, .rsMinW .rsThumbs {
	background: transparent;
}

.rsArrowRight {
	right: 12px;
	bottom: auto;
	top: 50%;
	margin-top: -16px;
}

.rsArrowLeft {
	right: auto;
	left: 12px;
	bottom: auto;
	top: 50%;
	margin-top: -16px;
}

/* Homepage slideshow */
#panels-ipe-display-panelizer-node-13-default .field-collection-view-links {
	position: absolute;
	top: 24px;
	right: 24px;
}

#panels-ipe-display-panelizer-node-13-default .action-links {
	position: absolute;
	top: 48px;
	right: 160px;
}

#panels-ipe-display-panelizer-node-13-default  .field-collection-container {
  border-bottom: 0;
  margin-bottom: 0;
}

#panels-ipe-display-panelizer-node-13-default .rsABlock {
	left: 48px;
	bottom: 48px;
	padding: 24px;
	background-color: rgba(255,255,255, .95);
	position: absolute;
	z-index: 15;
}