//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  margin: 0 0 $baseLineHeight;
  list-style: none;
  @include border-radius(4px);
  li {
    @include inline-block;
    a {
      text-transform: uppercase;
      @include inline-block;
      @include theme-link;
    }
  }
  .divider {
    padding: 0 5px;
    color: #ccc;
  }
  .active {
    color: $grayLight;
  }
}
