.field-name-field-stats,
.field-name-field-hover-items {
  .field-items{
    clear:both;
    text-align: center;
    .field-item{
      display: inline-block;
      vertical-align: top;
      width: 315px;
      .field-name-field-stat-title {
        @include h3();
        text-align:center;
        margin-bottom: $vert-gutter / 2;
      }
      .field-name-field-actual-stat,
      .field-name-field-hover-title {
        font-family: $webfontLight;
        font-size:6em;
        background-color: #f1f1f1;
        border: 1px solid #f9f9f9;
        border-radius: 50%;
        display: block;
        @include box-sizing(content-box);
        padding: 42px 15px;
        color: #d1d1d1;
        width: 85%;
        margin: 0 auto;
        .no-touch & {
          @include opacity(.5);
          @include transform(scale(.9));
          @include transition-property(color, transform);
          @include transition-duration(.15s);
          @include transition-timing-function(cubic-bezier(0.59, 1.45, 0.69, 0.98));
          @include transition-delay(0);
          &:hover {
            @include opaque;
            @include transform(scale(1));
          }
        }

      }
      .field-name-field-stat-desctiption{
        font-size: 16px;
        margin-top: $vert-gutter;
      }
    }
  }
}

.field-name-field-stats {
  .field-item {
    .field-name-field-actual-stat {
      .no-touch & {
        @include opacity(.5);
        @include transform(scale(.9));
        @include transition-property(color, transform);
        @include transition-duration(.15s);
        @include transition-timing-function(cubic-bezier(0.59, 1.45, 0.69, 0.98));
        @include transition-delay(0);
        &:hover {
          @include opaque;
          @include transform(scale(1));
        }
      }
    }
    &:hover {
      .field-name-field-actual-stat {
        .no-touch & {
          @include opaque;
          @include transform(scale(1));
        }
      }
    }
  }
}

.field-name-field-hover-items {
  .field-items .field-item{
    width:230px;

    a {
      text-decoration: none;
    }
    .field-name-field-hover-title {
      font-size:2em;
    }
  }
  .field-name-field-hover-text {
    display:none;
  }
}