// ---------------------------------------------------------------------------
// Imports.

// With Susy 1 installed...
@import "susy"; // Susy Grids

// With Susy 2 installed...
//@import "susyone";


// @import "singularitygs"; // Singularity Grid System
// @import "zen"; // Zen Grids
@import "breakpoint"; //@Media Query Mixins

// ---------------------------------------------------------------------------
// Susy Grid.

$base-font-size: 14px;
// This is the default number of columns.
$total-columns: 4;
// Width of each column.
$column-width   : 6em;

// Space between columns.
$gutter-width   : .25;
// Space on the right and left of the grid.
$grid-padding   : $gutter-width;

$susy: (
  columns: 4,  // The number of columns in your grid
  column-width: 6em,
  global-box-sizing: border-box,

  gutters: $gutter-width, // The size of a gutter in relation to a single column
);

// GLOBAL DEFAULTS REFERENCE
// http://susydocs.oddbird.net/en/latest/settings/#global-defaults
// $susy: (
//   flow: ltr,
//   math: fluid,
//   output: float,
//   gutter-position: after,
//   container: auto,
//   container-position: center,
//   columns: 4,
//   gutters: .25,
//   column-width: false,
//   global-box-sizing: content-box,
//   last-flow: to,
//   debug: (
//     image: hide,
//     color: rgba(#66f, .25),
//     output: background,
//     toggle: top right,
//   ),
//   use-custom: (
//     background-image: true,
//     background-options: false,
//     box-sizing: true,
//     clearfix: false,
//     rem: true,
//   )
// );


// $container-style: <style>; <style>: magic | static | fluid.
$container-style: magic;

$border-box-sizing: true;

@include border-box-sizing;
// $legacy-support-for-ie  : true;
// $legacy-support-for-ie6 : $legacy-support-for-ie;
// $legacy-support-for-ie7 : $legacy-support-for-ie;

$show-grid-backgrounds  : false;


// ---------------------------------------------------------------------------
// Media Query Settings for use with Breakpoint.


$breakpoint-to-ems: true;
$breakpoint-default-media: all;
$breakpoint-default-pair: width;

$narrow: 32em;
$tablet: 48em;
$computer: 63em;
$wide: 80em;


// ---------------------------------------------------------------------------
// "Mobile First" of grid styles.

.container{
  @include container(60em);
  @include breakpoint($narrow){
    @include container;
  }
  @include breakpoint($tablet){
    @include container;
  }
  @include breakpoint($computer){
    @include container;
  }
  @include breakpoint($wide){
    @include container;
  }
} //.container



// Panels Layouts
.parrot-panels{
  #minipanel-two-50-top-wrapper{
    .minipanel-two-50-top{
      @include span(12 of 12);
    }
  }
  #minipanel-two-50-middle-wrapper{
    .minipanel-two-50-first{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        // @include remove-omega;
        @include span(6 of 12);
      }
      @include breakpoint($computer){
        // @include remove-omega;
        @include span(6 of 12);
      }
      @include breakpoint($wide){
        // @include remove-omega;
        @include span(6 of 12);
      }
    }
    .minipanel-two-50-second{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        @include span(6 of 12);
      }
      @include breakpoint($computer){
        @include span(6 of 12);
      }
      @include breakpoint($wide){
        @include span(6 of 12);
      }
    }
  }

  #minipanel-two-50-bottom-wrapper{
    .minipanel-two-50-bottom{
      @include span(12 of 12);
    }
  }

  #minipanel-three-33-top-wrapper{
    .minipanel-three-33-top{
      @include span(12 of 12);
    }
  }

  #minipanel-three-33-middle-wrapper{
    .minipanel-three-33-first{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        // @include remove-omega;        @include span(4 of 12);
      }
      @include breakpoint($computer){
        // @include remove-omega;        @include span(4 of 12);
      }
      @include breakpoint($wide){
        // @include remove-omega;        @include span(4 of 12);
      }
    }
    .minipanel-three-33-second{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        // @include remove-omega;        @include span(4 of 12);
      }
      @include breakpoint($computer){
        // @include remove-omega;        @include span(4 of 12);
      }
      @include breakpoint($wide){
        // @include remove-omega;        @include span(4 of 12);
      }
    }
    .minipanel-three-33-third{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        @include span(4 of 12);
      }
      @include breakpoint($computer){
        @include span(4 of 12);
      }
      @include breakpoint($wide){
        @include span(4 of 12);
      }
    }
  }

  #minipanel-three-33-bottom-wrapper{
    .minipanel-three-33-bottom{
      @include span(12 of 12);
    }
  }

  #minipanel-four-25-top-wrapper{
    .minipanel-four-25-top{
      @include span(12 of 12);
    }//.minipanel-four-25-top
  } //#minipanel-four-25-top-wrapper

  #minipanel-four-25-middle-wrapper{
    .minipanel-four-25-first{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        // @include remove-omega;        @include span(3 of 12);
      }
      @include breakpoint($computer){
        // @include remove-omega;        @include span(3 of 12);
      }
      @include breakpoint($wide){
        // @include remove-omega;        @include span(3 of 12);
      }
    } //.minipanel-four-25-first

    .minipanel-four-25-second{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        // @include remove-omega;        @include span(3 of 12);
      }
      @include breakpoint($computer){
        // @include remove-omega;        @include span(3 of 12);
      }
      @include breakpoint($wide){
        // @include remove-omega;        @include span(3 of 12);
      }
    }//.minipanel-four-25-second

    .minipanel-four-25-third{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        // @include remove-omega;        @include span(3 of 12);
      }
      @include breakpoint($computer){
        // @include remove-omega;        @include span(3 of 12);
      }
      @include breakpoint($wide){
        // @include remove-omega;        @include span(3 of 12);
      }
    }//.minipanel-four-25-third

    .minipanel-four-25-fourth{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        @include span(3 of 12);
      }
      @include breakpoint($computer){
        @include span(3 of 12);
      }
      @include breakpoint($wide){
        @include span(3 of 12);
      }
    }//.minipanel-four-25-fourth
  } //#minipanel-four-25-middle-wrapper

  #minipanel-four-25-bottom-wrapper{
    .minipanel-four-25-bottom{
      @include span(12 of 12);
    }//.minipanel-four-25-bottom
  } //#minipanel-four-25-bottom-wrapper


//
// three-inset-left Panel
//
  #three-inset-left-wrapper{
    #three-inset-left-left-wrapper{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        // @include remove-omega;        @include span(9 of 12);
      }
      @include breakpoint($computer){
        // @include remove-omega;        @include span(9 of 12);
      }
      @include breakpoint($wide){
        // @include remove-omega;        @include span(9 of 12);
      }

      .three-inset-left-top of
      .three-inset-left-bottom{
        @include span(12 of 12);
      }

      .three-inset-left-middle{
        @include span(12 of 12);

        @include breakpoint($narrow){
          @include span(12 of 12);
        }
        @include breakpoint($tablet){
          // @include remove-omega;          @include span(6 of 12);
        }
        @include breakpoint($computer){
          // @include remove-omega;          @include span(6 of 12);
        }
        @include breakpoint($wide){
          // @include remove-omega;          @include span(6 of 12);
        }
      }
      .three-inset-left-inset{
        @include span(12 of 12);

        @include breakpoint($narrow){
          @include span(12 of 12);
        }
        @include breakpoint($tablet){
          @include span(6 of 12);
        }
        @include breakpoint($computer){
          @include span(6 of 12);
        }
        @include breakpoint($wide){
          @include span(6 of 12);
        }
      }
    }
    #three-inset-left-right-wrapper{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        @include span(3 of 12);
      }
      @include breakpoint($computer){
        @include span(3 of 12);
      }
      @include breakpoint($wide){
        @include span(3 of 12);
      }
    }
  }

//
// three-inset-right Panel
//
  #three-inset-right-wrapper{
    #three-inset-right-right-wrapper{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        @include span(9 of 12);
      }
      @include breakpoint($computer){
        @include span(9 of 12);
      }
      @include breakpoint($wide){
        @include span(9 of 12);
      }
      .three-inset-right-top of
      .three-inset-right-bottom{
        @include span(12 of 12);
      }
      .three-inset-right-middle{
        @include span(12 of 12);

        @include breakpoint($narrow){
          @include span(12 of 12);
        }
        @include breakpoint($tablet){
          // @include remove-omega;          @include span(6 of 12);
        }
        @include breakpoint($computer){
          // @include remove-omega;          @include span(6 of 12);
        }
        @include breakpoint($wide){
          // @include remove-omega;          @include span(6 of 12);
        }
      }
      .three-inset-right-inset{
        @include span(12 of 12);

        @include breakpoint($narrow){
          @include span(12 of 12);
        }
        @include breakpoint($tablet){
          @include span(6 of 12);
        }
        @include breakpoint($computer){
          @include span(6 of 12);
        }
        @include breakpoint($wide){
          @include span(6 of 12);
        }
      }
    }
    #three-inset-right-left-wrapper{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        // @include remove-omega;        @include span(3 of 12);
      }
      @include breakpoint($computer){
        // @include remove-omega;        @include span(3 of 12);
      }
      @include breakpoint($wide){
        // @include remove-omega;        @include span(3 of 12);
      }
    }
  }


//
// three-33 Panel
//
  #three-33-top-wrapper{
    .three-33-top{
      @include span(12 of 12);
    }
  }

  #three-33-middle-wrapper{
    .three-33-first{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        // @include remove-omega;        @include span(4 of 12);
      }
      @include breakpoint($computer){
        // @include remove-omega;        @include span(4 of 12);
      }
      @include breakpoint($wide){
        // @include remove-omega;        @include span(4 of 12);
      }
    }
    .three-33-second{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        // @include remove-omega;        @include span(4 of 12);
      }
      @include breakpoint($computer){
        // @include remove-omega;        @include span(4 of 12);
      }
      @include breakpoint($wide){
        // @include remove-omega;        @include span(4 of 12);
      }
    }
    .three-33-third{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        @include span(4 of 12);
      }
      @include breakpoint($computer){
        @include span(4 of 12);
      }
      @include breakpoint($wide){
        @include span(4 of 12);
      }
    }
  }

  #three-33-bottom-wrapper{
    .three-33-bottom{
      @include span(12 of 12);
    }
  }


  #three-25-50-25-top-wrapper{
    .three-25-50-25-top{
      @include span(12 of 12);
    }
  }
  #three-25-50-25-middle-wrapper{

    .three-25-50-25-first{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        // @include remove-omega;        @include span(3 of 12);
      }
      @include breakpoint($computer){
        // @include remove-omega;        @include span(3 of 12);
      }
      @include breakpoint($wide){
        // @include remove-omega;        @include span(3 of 12);
      }
    }
    .three-25-50-25-second{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        @include span(6 of 12);
      }
      @include breakpoint($computer){
        @include span(6 of 12);
      }
      @include breakpoint($wide){
        @include span(6 of 12);
      }
    }
    .three-25-50-25-third{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        @include span(3 of 12);
      }
      @include breakpoint($computer){
        @include span(3 of 12);
      }
      @include breakpoint($wide){
        @include span(3 of 12);
      }
    }
  }

  #three-25-50-25-bottom-wrapper{
    .three-25-50-25-bottom{
      @include span(12 of 12);
    }
  }


//
// two-33-66 Panel
//
  #two-33-66-top-wrapper{
    .two-33-66-top{
      @include span(12 of 12);
    }
  }

  #two-33-66-middle-wrapper{
    .two-33-66-first{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        // @include remove-omega;        @include span(4 of 12);
      }
      @include breakpoint($computer){
        // @include remove-omega;        @include span(4 of 12);
      }
      @include breakpoint($wide){
        // @include remove-omega;        @include span(4 of 12);
      }
    }
    .two-33-66-second{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        @include span(8 of 12);
      }
      @include breakpoint($computer){
        @include span(8 of 12);
      }
      @include breakpoint($wide){
        @include span(8 of 12);
      }
    }
  }

  #two-33-66-bottom-wrapper{
    .two-33-66-bottom{
      @include span(12 of 12);
    }
  }

  //
  // two-33-66 Panel
  //
  #two-33-66-alt-top-wrapper{
    .two-33-66-alt-top{
      @include span(12 of 12);
    }
  }

  #two-33-66-alt-middle-wrapper{
    .two-33-66-alt-first{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        // @include remove-omega;        @include span(5 of 12);
      }
      @include breakpoint($computer){
        // @include remove-omega;        @include span(3 of 12);
      }
      @include breakpoint($wide){
        // @include remove-omega;        @include span(3 of 12);
      }
    }
    .two-33-66-alt-second{
      @include span(12 of 12);

      @include breakpoint($narrow){
        @include span(12 of 12);
      }
      @include breakpoint($tablet){
        @include span(6 of 12);
        @include pull(5);
      }
      @include breakpoint($computer){
        @include span(9 of 12);
        @include pull(3);
      }
      @include breakpoint($wide){
        @include span(9 of 12);
        @include pull(3);
      }
    }
  }

  #two-33-66-alt-bottom-wrapper{
    .two-33-66-alt-bottom{
      @include span(12 of 12);
    }
  }

  //
  // two-66-33 Panel
  //
    #two-66-33-top-wrapper{
      .two-66-33-top{
        @include span(12 of 12);
      }
    }

    #two-66-33-middle-wrapper{
      .two-66-33-first{
        @include span(12 of 12);

        @include breakpoint($narrow){
          @include span(12 of 12);
        }
        @include breakpoint($tablet){
          // @include remove-omega;          @include span(8 of 12);
        }
        @include breakpoint($computer){
          // @include remove-omega;          @include span(8 of 12);
        }
        @include breakpoint($wide){
          // @include remove-omega;          @include span(8 of 12);
        }
      }
      .two-66-33-second{
        @include span(12 of 12);

        @include breakpoint($narrow){
          @include span(12 of 12);
        }
        @include breakpoint($tablet){
          @include span(4 of 12);
        }
        @include breakpoint($computer){
          @include span(4 of 12);
        }
        @include breakpoint($wide){
          @include span(4 of 12);
        }
      }
    }

    #two-66-33-bottom-wrapper{
      .two-66-33-bottom{
        @include span(12 of 12);
      }
    }

    #four-25-top-wrapper{
      .four-25-top{
        @include span(12 of 12);
      }//.four-25-top
    } //#four-25-top-wrapper

    #four-25-middle-wrapper{
      .four-25-first{
        @include span(12 of 12);

        @include breakpoint($narrow){
          @include span(12 of 12);
        }
        @include breakpoint($tablet){
          // @include remove-omega;          @include span(3 of 12);
        }
        @include breakpoint($computer){
          // @include remove-omega;          @include span(3 of 12);
        }
        @include breakpoint($wide){
          // @include remove-omega;          @include span(3 of 12);
        }
      } //.four-25-first

      .four-25-second{
        @include span(12 of 12);

        @include breakpoint($narrow){
          @include span(12 of 12);
        }
        @include breakpoint($tablet){
          // @include remove-omega;          @include span(3 of 12);
        }
        @include breakpoint($computer){
          // @include remove-omega;          @include span(3 of 12);
        }
        @include breakpoint($wide){
          // @include remove-omega;          @include span(3 of 12);
        }
      }//.four-25-second

      .four-25-third{
        @include span(12 of 12);

        @include breakpoint($narrow){
          @include span(12 of 12);
        }
        @include breakpoint($tablet){
          // @include remove-omega;          @include span(3 of 12);
        }
        @include breakpoint($computer){
          // @include remove-omega;          @include span(3 of 12);
        }
        @include breakpoint($wide){
          // @include remove-omega;          @include span(3 of 12);
        }
      }//.four-25-third

      .four-25-fourth{
        @include span(12 of 12);

        @include breakpoint($narrow){
          @include span(12 of 12);
        }
        @include breakpoint($tablet){
          @include span(3 of 12);
        }
        @include breakpoint($computer){
          @include span(3 of 12);
        }
        @include breakpoint($wide){
          @include span(3 of 12);
        }
      }//.four-25-fourth
    } //#four-25-middle-wrapper

    #four-25-bottom-wrapper{
      .four-25-bottom{
        @include span(12 of 12);
      }//.four-25-bottom
    } //#four-25-bottom-wrapper


    #two-50-top-wrapper{
      .two-50-top{
        @include span(12 of 12);
      }
    }
    #two-50-middle-wrapper{
      .two-50-first{
        @include span(12 of 12);

        @include breakpoint($narrow){
          @include span(12 of 12);
        }
        @include breakpoint($tablet){
          // @include remove-omega;          @include span(6 of 12);
        }
        @include breakpoint($computer){
          // @include remove-omega;          @include span(6 of 12);
        }
        @include breakpoint($wide){
          // @include remove-omega;          @include span(6 of 12);
        }
      }
      .two-50-second{
        @include span(12 of 12);

        @include breakpoint($narrow){
          @include span(12 of 12);
        }
        @include breakpoint($tablet){
          @include span(6 of 12);
        }
        @include breakpoint($computer){
          @include span(6 of 12);
        }
        @include breakpoint($wide){
          @include span(6 of 12);
        }
      }
    }

    #two-50-bottom-wrapper{
      .two-50-bottom{
        @include span(12 of 12);
      }
    }
} //.parrot-panels

.width-25.float-left{
  @include span(12 of 12);
  clear: right;

  @include breakpoint($narrow){
    @include span(12 of 12);
  }
  @include breakpoint($tablet){
    // @include remove-omega;    @include span(3 of 12);
  }
  @include breakpoint($computer){
    // @include remove-omega;    @include span(3 of 12);
  }
  @include breakpoint($wide){
    // @include remove-omega;    @include span(3 of 12);
  }
}

.width-25.float-right{
  @include span(12 of 12);

  @include breakpoint($narrow){
    @include span(12 of 12);
  }
  @include breakpoint($tablet){
    @include span(3 of 12);
  }
  @include breakpoint($computer){
    @include span(3 of 12);
  }
  @include breakpoint($wide){
    @include span(3 of 12);
  }
}

.width-33.float-left{
  @include span(12 of 12);
  clear: right;

  @include breakpoint($narrow){
    @include span(12 of 12);
  }
  @include breakpoint($tablet){
    // @include remove-omega;    @include span(4 of 12);
  }
  @include breakpoint($computer){
    // @include remove-omega;    @include span(4 of 12);
  }
  @include breakpoint($wide){
    // @include remove-omega;    @include span(4 of 12);
  }
}

.width-33.float-right{
  @include span(12 of 12);

  @include breakpoint($narrow){
    @include span(12 of 12);
  }
  @include breakpoint($tablet){
    @include span(4 of 12);
  }
  @include breakpoint($computer){
    @include span(4 of 12);
  }
  @include breakpoint($wide){
    @include span(4 of 12);
  }
}

.width-50.float-left{
  @include span(12 of 12);
  clear: right;

  @include breakpoint($narrow){
    @include span(12 of 12);
  }
  @include breakpoint($tablet){
    // @include remove-omega;    @include span(6 of 12);
  }
  @include breakpoint($computer){
    // @include remove-omega;    @include span(6 of 12);
  }
  @include breakpoint($wide){
    // @include remove-omega;    @include span(6 of 12);
  }
}

.width-50.float-right{
  @include span(12 of 12);

  @include breakpoint($narrow){
    @include span(12 of 12);
  }
  @include breakpoint($tablet){
    @include span(6 of 12);
  }
  @include breakpoint($computer){
    @include span(6 of 12);
  }
  @include breakpoint($wide){
    @include span(6 of 12);
  }
}

.width-66.float-left{
  @include span(12 of 12);
  clear: right;

  @include breakpoint($narrow){
    @include span(12 of 12);
  }
  @include breakpoint($tablet){
    // @include remove-omega;    @include span(8 of 12);
  }
  @include breakpoint($computer){
    // @include remove-omega;    @include span(8 of 12);
  }
  @include breakpoint($wide){
    // @include remove-omega;    @include span(8 of 12);
  }
}

.width-66.float-right{
  @include span(12 of 12);

  @include breakpoint($narrow){
    @include span(12 of 12);
  }
  @include breakpoint($tablet){
    @include span(8 of 12);
  }
  @include breakpoint($computer){
    @include span(8 of 12);
  }
  @include breakpoint($wide){
    @include span(8 of 12);
  }
}

.width-75.float-left{
  @include span(12 of 12);
  clear: right;

  @include breakpoint($narrow){
    @include span(12 of 12);
  }
  @include breakpoint($tablet){
    // @include remove-omega;    @include span(9 of 12);
  }
  @include breakpoint($computer){
    // @include remove-omega;    @include span(9 of 12);
  }
  @include breakpoint($wide){
    // @include remove-omega;    @include span(9 of 12);
  }
}

.width-75.float-right{
  @include span(12 of 12);

  @include breakpoint($narrow){
    @include span(12 of 12);
  }
  @include breakpoint($tablet){
    @include span(9 of 12);
  }
  @include breakpoint($computer){
    @include span(9 of 12);
  }
  @include breakpoint($wide){
    @include span(9 of 12);
  }
}

.width-100{
  @include span(12 of 12);
  clear: both;
}


.pre-12{

  @include breakpoint($tablet){
    @include pre(3 of 24);;
  }
  @include breakpoint($computer){
    @include pre(3 of 24);
  }
  @include breakpoint($wide){
    @include pre(3 of 24);
  }
}

.post-12 of
.float-right.post-12{

  @include breakpoint($tablet){
    @include post(3 of 24);;
  }
  @include breakpoint($computer){
    @include post(3 of 24);
  }
  @include breakpoint($wide){
    @include post(3 of 24);
  }
}

.pre-16{

  @include breakpoint($tablet){
    @include pre(4 of 24);;
  }
  @include breakpoint($computer){
    @include pre(4 of 24);
  }
  @include breakpoint($wide){
    @include pre(4 of 24);
  }
}

.post-16 of
.float-right.post-16{

  @include breakpoint($tablet){
    @include post(4 of 24);;
  }
  @include breakpoint($computer){
    @include post(4 of 24);
  }
  @include breakpoint($wide){
    @include post(4 of 24);
  }
}

.pre-25{

  @include breakpoint($tablet){
    @include pre(6 of 24);;
  }
  @include breakpoint($computer){
    @include pre(6 of 24);
  }
  @include breakpoint($wide){
    @include pre(6 of 24);
  }
}

.post-25 of
.float-right.post-25{

  @include breakpoint($tablet){
    @include post(6 of 24);;
  }
  @include breakpoint($computer){
    @include post(6 of 24);
  }
  @include breakpoint($wide){
    @include post(6 of 24);
  }
}

.pre-33{

  @include breakpoint($tablet){
    @include pre(8 of 24);;
  }
  @include breakpoint($computer){
    @include pre(8 of 24);
  }
  @include breakpoint($wide){
    @include pre(8 of 24);
  }
}

.post-33 of
.float-right.post-33{

  @include breakpoint($tablet){
    @include post(8 of 24);;
  }
  @include breakpoint($computer){
    @include post(8 of 24);
  }
  @include breakpoint($wide){
    @include post(8 of 24);
  }
}

.pre-50{

  @include breakpoint($tablet){
    @include pre(12 of 24);;
  }
  @include breakpoint($computer){
    @include pre(12 of 24);
  }
  @include breakpoint($wide){
    @include pre(12 of 24);
  }
}

.post-50 of
.float-right.post-50{

  @include breakpoint($tablet){
    @include post(12 of 24);;
  }
  @include breakpoint($computer){
    @include post(12 of 24);
  }
  @include breakpoint($wide){
    @include post(12 of 24);
  }
}

.pre-66{

  @include breakpoint($tablet){
    @include pre(16 of 24);;
  }
  @include breakpoint($computer){
    @include pre(16 of 24);
  }
  @include breakpoint($wide){
    @include pre(16 of 24);
  }
}

.post-66 of
.float-right.post-66{

  @include breakpoint($tablet){
    @include post(16 of 24);;
  }
  @include breakpoint($computer){
    @include post(16 of 24);
  }
  @include breakpoint($wide){
    @include post(16 of 24);
  }
}

.pre-75{

  @include breakpoint($tablet){
    @include pre(18 of 24);;
  }
  @include breakpoint($computer){
    @include pre(18 of 24);
  }
  @include breakpoint($wide){
    @include pre(18 of 24);
  }
}

.post-75 of
.float-right.post-75{

  @include breakpoint($tablet){
    @include post(18 of 24);;
  }
  @include breakpoint($computer){
    @include post(18 of 24);
  }
  @include breakpoint($wide){
    @include post(18 of 24);
  }
}



// Default grid blocks here following the "Mobile First" strategy.
